<!-- We don't need a full layout in this file because this page will be parsed with Ajax. -->

<!-- Top Navbar-->
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back"></i>
                <span>Back</span>
            </a>
        </div>
        <div class="center sliding">Games</div>
        <div class="right">
            <a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
        </div>
    </div>
</div>
<div class="pages">
    <div data-page="club" class="page">
        <div class="page-content">
            <div class="content-block-title">Open Games!</div>
            <div class="list-block media-list">
                <ul>
                    <li>
                        <a href="game.html">
                        <div class="item-content">
                            <div class="item-media"><img src="img/ico-football.png" width="44"></div>
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">Footy</div>
                                    <div class="item-after">22 May 17</div>
                                </div>
                                <div class="item-subtitle">By Stuart Reavell</div>
                                <div class="item-text">8 challenger going</div>
                            </div>
                        </div>
                        </a>
                    </li>
                    <li>
                        <a href="game.html">
                            <div class="item-content">
                                <div class="item-media"><img src="img/ico-football.png" width="44"></div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Footy</div>
                                        <div class="item-after">29 May 17</div>
                                    </div>
                                    <div class="item-subtitle">By Stuart Reavell</div>
                                    <div class="item-text">3 challenger going</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="game.html">
                            <div class="item-content">
                                <div class="item-media"><img src="img/ico-football.png" width="44"></div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Footy</div>
                                        <div class="item-after">5 June 17</div>
                                    </div>
                                    <div class="item-subtitle">By Stuart Reavell</div>
                                    <div class="item-text">1 challenger going</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="game.html">
                            <div class="item-content">
                                <div class="item-media"><img src="img/ico-football.png" width="44"></div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Footy</div>
                                        <div class="item-after">12 June 17</div>
                                    </div>
                                    <div class="item-subtitle">By Stuart Reavell</div>
                                    <div class="item-text">0 challenger going</div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="content-block-title">Past Games</div>
            <div class="list-block media-list">
                <ul>
                    <li>
                        <a href="stats.html">
                        <div class="item-content">
                            <div class="item-media"><img src="img/ico-football.png" width="44"></div>
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">Footy</div>
                                    <div class="item-after">22 May 17</div>
                                </div>
                                <div class="item-subtitle">By Stuart Reavell</div>
                                <div class="item-text">10 challenger going</div>
                            </div>
                        </div>
                        </a>
                    </li>
                    <li>
                        <a href="stats.html">
                            <div class="item-content">
                                <div class="item-media"><img src="img/ico-football.png" width="44"></div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Footy</div>
                                        <div class="item-after">29 May 17</div>
                                    </div>
                                    <div class="item-subtitle">By Stuart Reavell</div>
                                    <div class="item-text">12 challenger going</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="stats.html">
                            <div class="item-content">
                                <div class="item-media"><img src="img/ico-football.png" width="44"></div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Footy</div>
                                        <div class="item-after">5 June 17</div>
                                    </div>
                                    <div class="item-subtitle">By Stuart Reavell</div>
                                    <div class="item-text">12 challenger going</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="stats.html">
                            <div class="item-content">
                                <div class="item-media"><img src="img/ico-football.png" width="44"></div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Footy</div>
                                        <div class="item-after">12 June 17</div>
                                    </div>
                                    <div class="item-subtitle">By Stuart Reavell</div>
                                    <div class="item-text">10 challenger going</div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
