<!-- We don't need a full layout in this file because this page will be parsed with Ajax. -->

<!-- Top Navbar-->
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back"></i>
                <span>Back</span>
            </a>
        </div>
        <div class="center sliding">Footy 8 May Statistics</div>
        <div class="right">
            <a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
        </div>
    </div>
</div>
<div class="pages">
    <div data-page="about" class="page">
        <div class="page-content">
            <div class="content-block">
                <!-- Separate collapsibles - omit "accordion-list" class-->
                <div class="content-block-title center">Teams & Players</div>
                <div class="list-block">
                    <ul>
                        <li class="accordion-item"><a href="#" class="item-content item-link">
                            <div class="item-inner">
                                <div class="item-title">RED TEAM : 7</div>
                            </div>
                        </a>
                            <div class="accordion-item-content">
                                <div class="content-block">
                                    <div class="list-block media-list">
                                        <ul>
                                            <li>
                                                <a href="player.html">
                                                    <div class="item-content">
                                                        <div class="item-media"><img src="img/ico-football.png" width="22"></div>
                                                        <div class="item-inner">
                                                            <div class="item-title-row">
                                                                <div class="item-title">Stuart Reavell</div>
                                                                <div class="item-after">Form: Good</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="player.html">
                                                    <div class="item-content">
                                                        <div class="item-media"><img src="img/ico-football.png" width="22"></div>
                                                        <div class="item-inner">
                                                            <div class="item-title-row">
                                                                <div class="item-title">Cagdas Ozersahin</div>
                                                                <div class="item-after">Form: Average</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="player.html">
                                                    <div class="item-content">
                                                        <div class="item-media"><img src="img/ico-football.png" width="22"></div>
                                                        <div class="item-inner">
                                                            <div class="item-title-row">
                                                                <div class="item-title">Daniele Casal</div>
                                                                <div class="item-after">Form: Outstanding</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="player.html">
                                                    <div class="item-content">
                                                        <div class="item-media"><img src="img/ico-football.png" width="22"></div>
                                                        <div class="item-inner">
                                                            <div class="item-title-row">
                                                                <div class="item-title">Player Red</div>
                                                                <div class="item-after">Form: Outstanding</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="accordion-item"><a href="#" class="item-content item-link">
                            <div class="item-inner">
                                <div class="item-title">WHITE TEAM : 10</div>
                            </div>
                        </a>
                            <div class="accordion-item-content">
                                <div class="content-block">
                                    <div class="list-block media-list">
                                        <ul>
                                            <li>
                                                <a href="player.html">
                                                    <div class="item-content">
                                                        <div class="item-media"><img src="img/ico-football.png" width="22"></div>
                                                        <div class="item-inner">
                                                            <div class="item-title-row">
                                                                <div class="item-title">Stuart Reavell</div>
                                                                <div class="item-after">Form: Good</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="player.html">
                                                    <div class="item-content">
                                                        <div class="item-media"><img src="img/ico-football.png" width="22"></div>
                                                        <div class="item-inner">
                                                            <div class="item-title-row">
                                                                <div class="item-title">Cagdas Ozersahin</div>
                                                                <div class="item-after">Form: Average</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="player.html">
                                                    <div class="item-content">
                                                        <div class="item-media"><img src="img/ico-football.png" width="22"></div>
                                                        <div class="item-inner">
                                                            <div class="item-title-row">
                                                                <div class="item-title">Cagdas Ozersahin</div>
                                                                <div class="item-after">Form: Average</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="player.html">
                                                    <div class="item-content">
                                                        <div class="item-media"><img src="img/ico-football.png" width="22"></div>
                                                        <div class="item-inner">
                                                            <div class="item-title-row">
                                                                <div class="item-title">Cagdas Ozersahin</div>
                                                                <div class="item-after">Form: Average</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="player.html">
                                                    <div class="item-content">
                                                        <div class="item-media"><img src="img/ico-football.png" width="22"></div>
                                                        <div class="item-inner">
                                                            <div class="item-title-row">
                                                                <div class="item-title">Cagdas Ozersahin</div>
                                                                <div class="item-after">Form: Average</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="player.html">
                                                    <div class="item-content">
                                                        <div class="item-media"><img src="img/ico-football.png" width="22"></div>
                                                        <div class="item-inner">
                                                            <div class="item-title-row">
                                                                <div class="item-title">Cagdas Ozersahin</div>
                                                                <div class="item-after">Form: Average</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
