<!-- We don't need a full layout in this file because this page will be parsed with Ajax. -->

<!-- Top Navbar-->
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back"></i>
                <span>Back</span>
            </a>
        </div>
        <div class="center sliding">Club View</div>
        <div class="right">
            <a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
        </div>
    </div>
</div>
<div class="pages">
    <div data-page="about" class="page">
        <div class="page-content">
            <div class="content-block">
                <p>Join challenges in your clubs or create new club!</p>
                <div class="list-block media-list">
                    <ul>
                        <li>
                            <a href="club.html">
                                <div class="item-content">
                                    <div class="item-media"><img src="img/ico-football.png" width="44"></div>
                                    <div class="item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title">Crystal Pal Footy Club</div>
                                            <div class="item-after">30 Members</div>
                                        </div>
                                        <div class="item-subtitle">By Stuart Reavell</div>
                                        <div class="item-text">Every monday challenge!</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="club.html">
                                <div class="item-content">
                                    <div class="item-media"><img src="img/ico-tennis.png" width="44"></div>
                                    <div class="item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title">Beckenham Tennis Club</div>
                                            <div class="item-after">2 Members</div>
                                        </div>
                                        <div class="item-subtitle">By Cagdas Ozersahin</div>
                                        <div class="item-text">Beginner lessons!</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
